*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2%;
}
.container{
    background-color:lightcyan;
    border: solid 0.3rem black;
    width: fit-content;
    height: auto;
    padding: 4%;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}
.display{
    background-color: white;
    border: solid 0.1rem black;
    font-size: 2.5rem;
    font-weight: 600;
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
}
.group-button{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.btn{
    border: none;
    background-color: gray;
    font-size: 2rem;
    font-weight: 600;
    width: 3rem;
    height: 3.5rem;
    border-radius: 0.5rem;
}
.btn:hover, .btn_number:hover{
    background-color: black;
    color: white;
}
#borrar-todo, #borrar-caracter{
    background-color: orange;
    width: 4rem;
}
#borrar-todo:hover,#borrar-caracter:hover{
    background-color: red;
}
#borrar-caracter{
    font-size: 1.8rem;
}
.btn_number{
    border: none;
    background-color: gray;
    font-size: 1.8rem;
    width: 2rem;
    height: 3rem;
    border-radius: 0.4rem;
}
.footer{
    font-size: 1.5rem;
}