*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2%;
}
.container{
    background-color:lightcyan;
    border: solid 0.3rem black;
    width: fit-content;
    height: auto;
    padding: 4%;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}
.display{
    background-color: white;
    border: solid 0.1rem black;
    font-size: 2.5rem;
    font-weight: 600;
    height: 5rem;
    width: 90%;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    outline: none;
}
.group-button{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.btn{
    border: none;
    background-color: gray;
    color:black;
    font-size: 2rem;
    font-weight: 600;
    width: 3rem;
    height: 3.5rem;
    border-radius: 0.5rem;
}
.btn_number{
    border: none;
    background-color: gray;
    font-size: 1.8rem;
    width: 2rem;
    height: 3rem;
    border-radius: 0.4rem;
}
.borrar{
    background-color: orange;
    width: 4rem;
}
.borrar-caracter{
    font-size: 1.8rem;
}
.btn-enabled:hover, .btn_number:hover, .btn-igual-enabled:hover{
    background-color: black;
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.borrar:hover{
    background-color: red;
    color: black;
}
.btn-igual-enabled:hover{
    background-color: #198754;
}
.btn-enabled:active, .btn_number:active, .btn-igual-enabled:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.igual:disabled{
    opacity: 70%;
}
.footer{
    font-size: 2rem;
}